<div class=" session-container d-flex flex-column justify-content-center align-items-center gap-0.5 text-center">
  <div class="session-container d-flex flex-column justify-content-center align-items-center gap-0.5 text-center">
    <h2 class="sign-up header-font">Sign up</h2>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class = "sign-up-form">
      <div class="paragraph-font form-inputs">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username", class: "transparent-input"} %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "transparent-input" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "transparent-input"} %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "transparent-input" } %>
        <%= f.input :photo,
                    required: true,
                    as: :file,
                    input_html: {class: "transparent-input" },
                    label: "Upload your Avatar!" %>
    </div>

    <div class=" button container form-actions d-flex justify-content-center gap-3">
        <button href="#" class="main-btn"><%= f.button :submit, "Sign up" %>
        <%# <button href="#" class="main-btn"> <%= link_to "Back", root_path %> </button>
      </div>
    <% end %>
  </div>
</div>
