<div class="map-container">
  <div class="map-size"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%# PLEASE DON'T MESS WITH, FRAGILE BUTTON FILTERS <3 %>
<div class="filters-container">
  <div class="filter-form" data-controller="filter-button" data-action="click->filter-button#select" data-button-param-value="boogie">
    <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
      <%= hidden_field_tag :query,
            params[:query],
            value: 'boogie'
        %>
      <%= submit_tag "Boogie", name: "", class: "btn btn-filter" %>
    <% end %>
  </div>
  <div class="filter-form">
    <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
      <%= hidden_field_tag :query,
            params[:query],
            value: 'intimate'
        %>
      <%= submit_tag "Intimate", class: "btn btn-filter" %>
    <% end %>
  </div>
  <div class="filter-form">
    <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
      <%= hidden_field_tag :query,
            params[:query],
            value: 'pub'
        %>
      <%= submit_tag "Pub", name: "", class: "btn btn-filter" %>
    <% end %>
  </div>
  <div class="filter-form">
    <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
      <%= hidden_field_tag :query,
            params[:query],
            value: 'sports'
        %>
      <%= submit_tag "Sports", name: "", class: "btn btn-filter" %>
    <% end %>
  </div>
  <div class="filter-form">
    <%= form_with url: bars_path, method: :get, class: "d-flex" do %>
      <%= hidden_field_tag :query,
            params[:query],
            value: 'trendy'
        %>
      <%= submit_tag "Trendy", name: "", class: "btn btn-filter" %>
    <% end %>
  </div>
</div>
