<div class="vw-100 height-minus-navbar h-100 text-white d-flex flex-column text-center align-items-center justify-content-center pb-4 px-4">

    <div class="d-flex gap-3 align-items-center justify-content-between w-100 py-4">
      <div class="text-start">
        <h2><%= @bar.name %></h2>
        <p><%= @bar.price %></p>
        <p>Closes at <%= @bar.closing_time %> hours</p>
      </div>
      <div>
        <i class="fa-regular fa-bookmark"></i>
      </div>
    </div>

    <h3><%= @bar.name %>'s vibez</h3>
    <div class="pb-4">
      <% if @bar.subvibes.length > 0 %>
        <div class="grid-subvibes">
          <% @bar.subvibes.each do |subvibe| %>
            <div class="icon-card">
              <i class="fa-solid fa-champagne-glasses icon-img"></i>
              <%=subvibe.name%>
            </div>
          <% end %>
        </div>
      <% else %>
        <h2>This bar doesn't have subvibes yet!</h2>
      <% end %>
    </div>

    <h3>Viberz who like <%= @bar.name %></h3>
    <div class="pb-4">
      <% if @bar.users.length > 0 %>
        <div class="grid-subvibes">
          <% @bar.users.each do |user| %>
            <div>
              <%= image_tag("https://source.unsplash.com/random/?user", class: "avatar-img") %>
              <%= link_to user.username, root_path %>
            </div>
          <% end %>
        </div>
      <% else %>
        <h2>This bar doesn't have viberzs yet!</h2>
      <% end %>
    </div>

  <div type="button" class="btn btn-light">Letz Find your vibe</div>
</div>
