<div class="landing-container d-flex flex-column justify-content-center align-items-center gap-3 text-center">
    <div class="d-none d-md-block">
      <div class="mobile-first" >
        <h4>👋 Vibez's design is optimised for mobile! </h4>
        <br>
        <p> Try logging on with your phone (or, use Inspect Element on your browser). <strong> Thank you!</strong> 💖 </p>
      </div>
    </div>

    <h1 class="title-landing">vibez</h1>
  <div class="d-flex flex-column gap-3">
    <div class= "paragraph-font">
      <p> find bars that suit your vibe</p>
    </div>


    <%= link_to "Find Your Vibe!", new_user_session_path, class: "main-btn homepage-main" %>


  </div>
</div>

    <%# <div class="sun-div">
      <%= image_tag("001-sun.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="rooftop-div">
      <%= image_tag("002-rooftop.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="lip-div"> %>
      <%# <%= image_tag("003-lips.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="palm-div">
       <%= image_tag("004-palm-tree.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="beer-div">
       <%= image_tag("005-beer.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="cup-div"> %>
       <%# <%= image_tag("006-cup.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="music-div"> %>
        <%# <%= image_tag("007-live-music.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="dj-div">
      <%= image_tag("008-dj.png", class: "icon-picture") %>
    <%# </div> %>
    <%# <div class="sitting-div">
      <%= image_tag("009-waiting-room.png", class: "icon-picture") %>
    <%# </div> %>
  <%# <div class="disco-div">
      <%= image_tag("010-disco.png", class: "icon-picture") %>
  <%# </div> %>
  <%# <div class="tapas-div"> %>
    <%# <%= image_tag("011-tapas.png", class: "icon-picture") %>
  <%# </div> %>
  <%# <div class="darts-div">
      <%= image_tag("012-target.png", class: "icon-picture") %>
  <%# </div> %>
  <%# <div class="cowboy-div">
    <%= image_tag("013-cowboy.png", class: "icon-picture") %>
  <%# </div> %>
  <%# <div class="karaoke-div"> %>
      <%# <%= image_tag("014-karaoke.png", class: "icon-picture") %>
  <%# </div> %>
  <%# <div class="ambiente-div">
      <%= image_tag("015-romantic-music.png", class: "icon-picture") %>
  <%# </div> %>
