<div class="landing-container d-flex flex-column justify-content-center align-items-center gap-3 text-center">
    <h1 class="title_landing">VIBEZ</h1>
    <div class="sun-div">
      <%= image_tag("001-sun", class: "icon-picture") %>
    </div>
    <div class="rooftop-div">
      <%= image_tag("002-rooftop", class: "icon-picture") %>
    </div>
    <div class="lip-div">
      <%= image_tag("003-lips", class: "icon-picture") %>
    </div>
    <div class="palm-div">
       <%= image_tag("004-palm-tree", class: "icon-picture") %>
    </div>
    <div class="beer-div">
       <%= image_tag("005-beer", class: "icon-picture") %>
    </div>
    <div class="cup-div">
       <%= image_tag("006-cup", class: "icon-picture") %>
    </div>
    <div class="music-div">
        <%= image_tag("007-live-music", class: "icon-picture") %>
    </div>
    <div class="dj-div">
      <%= image_tag("008-dj", class: "icon-picture") %>
    </div>
    <div class="sitting-div">
      <%= image_tag("009-waiting-room", class: "icon-picture") %>
    </div>
  <div class="disco-div">
      <%= image_tag("010-disco", class: "icon-picture") %>
  </div>
  <div class="tapas-div">
    <%= image_tag("011-tapas", class: "icon-picture") %>
  </div>
  <div class="darts-div">
      <%= image_tag("012-target", class: "icon-picture") %>
  </div>
  <div class="cowboy-div">
    <%= image_tag("013-cowboy", class: "icon-picture") %>
  </div>
  <div class="karaoke-div">
      <%= image_tag("014-karaoke", class: "icon-picture") %>
  </div>
  <div class="ambiente-div">
      <%= image_tag("015-romantic-music", class: "icon-picture") %>
  </div>
  <div class="d-flex flex-column gap-3">
    <div class= "D-Controller">
      <p>Description of Vibez</p>
    </div>
    <%= link_to "Log in", new_user_session_path, class: "button-landing-page" %>
    <%= link_to "Sign up", new_user_registration_path, class: "button-landing-page" %>
  </div>
</div>
