<div class="profile-page-body">

  <div>
    <h1 class="profile-name"><%= @user.username%></h1>
  </div>
  <div class="profile-page-avatar">
      <%= cl_image_tag @user.photo.key, class: "profile-avatar-img" %>
  </div>
  <div>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-outline-light m-3" %>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active tab-btn header-font" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">
        Vibez
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link tab-btn header-font" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">
        Favez
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <div class="pb-4 grid-subvibes-container">
        <% if @user.all_favorites.count > 0 %>
          <div class="grid-subvibes-style flex-wrap justify-content-center">
            <% @user.all_favorites.each do |bar| %>
              <div class="icon-card">
                <i class="fa-solid fa-martini-glass-citrus fa-3x"></i>
                <%= link_to bar.favoritable.name, bar_path(bar.favoritable.id), class: "link-text" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2 class="paragraph-font">You don't have any favorites yet!</h2>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="pb-4 grid-subvibes-container">
        <% if @user.subvibes.length > 0 %>
          <div class="grid-subvibes-style flex-wrap justify-content-center">
            <% @user.user_subvibes.each do |user_subvibe| %>
              <div class="icon-card">
              <%= link_to "x", user_subvibe_path(user_subvibe), class: "subvibe-delete-btn", data: {turbo_method: :delete}%>
                <%= cl_image_tag user_subvibe.subvibe.photo.key, class: "avatar-img"%>
                <%= user_subvibe.subvibe.name%>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2 class="paragraph-font">Time to add a vibe!</h2>
        <% end %>
        <button type="button" class="btn custom-plus-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog custom-modal-dialog">
            <div class="modal-content">
              <div class="modal-header custom-modal-header">
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body custom-modal-body">
                <%= simple_form_for @usersubvibe do |f| %>
                  <%= f.association :subvibe, collection: Subvibe.distinct_on(:name), prompt: "Select a vibe", label: false, input_html: { class: 'custom-dropdown' }  %>
                  <%= f.submit "Add a vibe!", class: "modal-btn paragraph-font" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
