<div class="profile-page-body">
  <div>
    <h1 class="profile-name"><%= @user.username%></h1>
  </div>

  <div class="profile-page-avatar">
    <%= cl_image_tag @user.photo.key, class: "profile-avatar-img" %>
  </div>


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active tab-btn header-font" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">
        Vibez
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link tab-btn header-font" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">
        Favez
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <div class="pb-4 grid-subvibes-container">
        <% if @user.all_favorited.count > 0 %>
          <div class="grid-subvibes-style flex-wrap justify-content-center">
        <% @user.all_favorited.each do |bar| %>
          <% if current_user.all_favorited.include?(bar) %>
            <div class="icon-card selected-icon">
          <i class="fa-solid fa-martini-glass-citrus fa-3x"></i>
          <%= link_to bar.name, bar_path(bar.id), class: "link-text" %>
            </div>
          <% else %>
            <div class="icon-card">
          <i class="fa-solid fa-martini-glass-citrus fa-3x"></i>
          <%= link_to bar.name, bar_path(bar.id), class: "link-text" %>
            </div>
          <% end %>
        <% end %>
          </div>
        <% else %>
          <h2 class="paragraph-font">This viber doesn't have favorites yet!</h2>
        <% end %>
      </div>
      </div>

    </div>
    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="pb-4 grid-subvibes-container">
        <% if @user.subvibes.length > 0 %>
          <div class="grid-subvibes-style flex-wrap justify-content-center">
            <% @user.subvibes.each do |subvibe| %>
              <% if current_user.subvibes.include?(subvibe) %>
                <div class="icon-card selected-icon">
                  <%= cl_image_tag subvibe.photo.key, class: "avatar-img"%>
                  <%=subvibe.name%>
                </div>
              <% else %>
                <div class="icon-card">
                  <%= cl_image_tag subvibe.photo.key, class: "avatar-img"%>
                  <%=subvibe.name%>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <h2 class="paragraph-font">This viber doesn't have any favorite vibes yet!</h2>
        <% end %>
      </div>
    </div>
  </div>

</div>
