<!DOCTYPE html>
<html>
  <head>
    <title>Vibez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="vw-100 min-vh-100 pink-purple-gradient dumb-body-fix">
  <% unless controller_name == "pages" && action_name == "landing_page"  %>
      <%= render "shared/navbar" %>

   <%end %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
