<!DOCTYPE html>
<html>
  <head>
    <title>Vibez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
  <%# unless statement to prevent navbar from rendering on landing page and log-in/sign-up -- navbar needs current_user data to sign in %>
    <% unless (params[:controller] == "pages" && params[:action] == "landing_page") || (params[:controller].include?("devise") && params[:action] == "new") || (params[:controller].include?("devise") && params[:action] == "create")%>
        <%= render "shared/navbar" %>
    <%end %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
