<!DOCTYPE html>
<html>
  <head>
    <title>Vibez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="vw-100">
  <% unless controller_name == "pages" && action_name == "landing_page" || controller_name == "bars" && action_name == "index" || controller_name == "ApplicationController" && action_name == "log_in" ||  %>
  <%# <% unless controller_name == "pages" && action_name == "landing_page"%>
      <%= render "shared/navbar" %>
   <%end %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
